@page
@model MyNUnitWeb.Pages.About

@{
    ViewData["Title"] = "About";
}

<div>
    <a href="https://github.com/Niksen111/spbuHomeworksSem3/tree/main/5Homework23.11.22/MyNUnit" class="link-primary">MyNUnit github</a>
</div>