@page
@model IndexModel
@{
    ViewData["Title"] = "Testing";
}

<div class="text-center">
    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Add "*.dll" files for testing.</label>
        <input class="form-control" type="file" id="formFileMultiple" multiple>
        <button type="button" class="btn btn-primary">Start</button>
    </div>
</div>