@{
    ViewData["Title"] = "Testing Page";
}

<div class="text-center">
    <h2 class="display-4"></h2>
    <div class="mb-3">
        <input class="form-control" type="file" id="formFileMultiple" multiple>
        <input type="submit" value="Submit" />
    </div>
</div>